* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 15px;
}

/* Ovo je dizajn za mobitele */

@media only screen and (max-width:375px) {

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin: 40px 10px 40px 10px;
    }

    .sedans {
        background-color: hsl(31, 77%, 52%);
        padding: 50px;
        color: white;
        border-radius: 15px 15px 0px 0px;
    }

    .suvs {
        background-color: hsl(184, 100%, 22%);
        padding: 50px;
        color: white;
    }

    .luxury {
        background-color: hsl(179, 100%, 13%);
        padding: 50px;
        color: white;
        border-radius: 0px 0px 15px 15px;
    }

    .form-submit-button-sedan {
        background: #fff;
        color: hsl(31, 77%, 52%);
        border-radius: 20px;
        padding: 10px;
        cursor: pointer;
        border: 2px hidden;
        font-family: 'Big Shoulders Display', cursive;
        width: 100px;
    }

    .form-submit-button-sedan:hover {
        background: hsl(31, 77%, 52%);
        border: 2px solid white;
        color: white;
        border-radius: 20px;
        padding: 10px;
        cursor: pointer;
        font-family: 'Big Shoulders Display', cursive;
        width: 100px;
    }

    .form-submit-button-suv {
        background: #fff;
        color: hsl(184, 100%, 22%);
        border-radius: 20px;
        padding: 10px;
        cursor: pointer;
        border: 2px hidden;
        font-family: 'Big Shoulders Display', cursive;
        width: 100px;
    }

    .form-submit-button-suv:hover {
        background: hsl(184, 100%, 22%);
        border: 2px solid white;
        color: white;
        border-radius: 20px;
        padding: 10px;
        cursor: pointer;
        font-family: 'Big Shoulders Display', cursive;
        width: 100px;
    }

    .form-submit-button-luxury {
        background: #fff;
        color: hsl(179, 100%, 13%);
        border-radius: 20px;
        padding: 10px;
        cursor: pointer;
        border: 2px hidden;
        font-family: 'Big Shoulders Display', cursive;
        width: 100px;
    }

    .form-submit-button-luxury:hover {
        background: hsl(179, 100%, 13%);
        border: 2px solid white;
        color: white;
        border-radius: 20px;
        padding: 10px;
        cursor: pointer;
        font-family: 'Big Shoulders Display', cursive;
        width: 100px;
    }
}


/* Ovo je dizajn za ekrane od 375px */

@media only screen and (min-width:375px) {

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin: 10%;

    }

    .sedans {
        background-color: hsl(31, 77%, 52%);
        padding: 50px;
        color: white;
        border-radius: 15px 0px 0px 15px;
        line-height: 1.5;
    }

    .suvs {
        background-color: hsl(184, 100%, 22%);
        padding: 50px;
        color: white;
        line-height: 1.5;
    }

    .luxury {
        background-color: hsl(179, 100%, 13%);
        padding: 50px;
        color: white;
        border-radius: 0px 15px 15px 0px;
        line-height: 1.5;
    }

    .form-submit-button-sedan {
        background: #fff;
        color: hsl(31, 77%, 52%);
        border-radius: 20px;
        padding: 10px;
        cursor: pointer;
        border: 2px hidden;
        font-family: 'Big Shoulders Display', cursive;
        width: 100px;
    }

    .form-submit-button-sedan:hover {
        background: hsl(31, 77%, 52%);
        border: 2px solid white;
        color: white;
        border-radius: 20px;
        padding: 10px;
        cursor: pointer;
        font-family: 'Big Shoulders Display', cursive;
        width: 100px;
    }

    .form-submit-button-suv {
        background: #fff;
        color: hsl(184, 100%, 22%);
        border-radius: 20px;
        padding: 10px;
        cursor: pointer;
        border: 2px hidden;
        font-family: 'Big Shoulders Display', cursive;
        width: 100px;
    }

    .form-submit-button-suv:hover {
        background: hsl(184, 100%, 22%);
        border: 2px solid white;
        color: white;
        border-radius: 20px;
        padding: 10px;
        cursor: pointer;
        font-family: 'Big Shoulders Display', cursive;
        width: 100px;
    }

    .form-submit-button-luxury {
        background: #fff;
        color: hsl(179, 100%, 13%);
        border-radius: 20px;
        padding: 10px;
        cursor: pointer;
        border: 2px hidden;
        font-family: 'Big Shoulders Display', cursive;
        width: 100px;

    }

    .form-submit-button-luxury:hover {
        background: hsl(179, 100%, 13%);
        border: 2px solid white;
        color: white;
        border-radius: 20px;
        padding: 10px;
        cursor: pointer;
        font-family: 'Big Shoulders Display', cursive;
        width: 100px;

    }
}